<%= form_for(@user, :html => { :class => "form-stacked signup"} ) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
      <% @user.errors.full_messages.each do |msg| %>
        <%= msg %>
      <% end %>
      </h2>
    </div>
  <% end %>

  <div class="clearfix">
    <%= f.label :email_address, "What's your email?" %>
		<div class="input">
    	<%= f.text_field :email_address %>
		</div>
  </div>
  <div class="actions">
		<%= f.submit "Request Invite", :class => 'btn primary'%>
  </div>
<% end %>
